/*Provides white background under content on About, Contributions, Writings pages, Blog posts, and individual Events*/
.about,
.node-type-page,
.node-type-event
 {
  @media (min-width:320px) {
    .layout {
      .l-container {
        .l-content {
          background-color: #fbfcfa;
          margin-left: 30px;
          margin-right: 30px;
          padding-left: 20px;
        }
      }
    }
  }
}
