.view-name-archives {
  @media (min-width:320px) {
    .l-content {
      .views-row {
        background: #fbfcfa;
        padding-left: 16px;
        padding-right: 16px;
        h2 {
          padding-top: 20px;
        }
      }
    }
  }
}
