.l-footer {
  @media (min-width:320px) {
    background-color: #36345E;
    color: #fbfcfa;
    font-size: 0.77em;
    text-align: center;
    border-top: none;
    .serundeputy-footer {
      margin: auto;
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
    .duck-in-a-box,
    .serundeputy-credits {
      display: inline-block;
      vertical-align: top;
    }
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
