.l-header {
  @media (min-width:320px) {
    background-color: #36345e;
    height: 13em;
    a {
      color: #fbfcfa;
    }
    a:active {
      background: #36345e;
    }
    a:hover {
      color: #fbfcfa;
    }
    .block-system-header {
      float: left;
      .header-identity-wrapper {
        background-color: #36345e;
        .header-site-name-link {
          font-size: 44px;
          margin-top: 7%;
          background-color: #36345e;
        }
      }
    }
    .social-icons-block {
      float: left;
      padding-top: 3px;
      padding-left: 5px;
      .social-icons-outer {
        padding-left: 3em;
        .top-row,
        .bottom-row {
          float: left;
          .backdrop-icon,
          .drupal-icon,
          .twitter-icon,
          .github-icon {
            display: inline;
          }
          img.backdrop-icon-img {
            height: 35px;
            background-color: #fbfcfa;
          }
          img.drupal-icon-img {
            height: 47px;
            padding-left: 14px;
          }
          img.twitter-icon-image {
            height: 53px;
            padding-top: 2px;
            padding-left: 4px;
          }
          img.github-icon-image {
            height: 47px;
            background-color: #fbfcfa;
            border-radius: 50%;
            padding: 3px;
            margin-left: 1px;
          }
        }
      }
    }
  }
  @media (min-width:375px) {
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 53px;
        }
      }
    }
    .social-icons-block {
      padding-left: 36px;
    }
  }
  @media (min-width:667px) {
    height: 11em;
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 55px;
          padding-left: 0.5em;
        }
      }
    }
    .social-icons-block {
      padding-left: 0px;
      padding-top: 32px;
      margin-left: -28px;
    }
  }
  @media (min-width:768px) {
    height: 10em;
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 70px;
          padding-left: 0.5em;
        }
      }
    }
    .social-icons-block {
      padding-left: 0px;
      padding-top: 47px;
      margin-left: -22px;
    }
  }
  @media (min-width:1024px) {
    height: 13em;
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 99px;
          padding-left: 0.5em;
        }
      }
    }
    .social-icons-block {
      padding-top: 62px;
      .social-icons-outer {
        .top-row img.backdrop-icon-img {
          height: 52px;
        }
        .top-row img.drupal-icon-img {
          height: 54px;
        }
        .bottom-row img.twitter-icon-image {
          height: 59px;
        }
        .bottom-row img.github-icon-image {
          height: 52px;
          margin-bottom: 2px;
        }
      }
    }
  }
  @media (min-width: 1366px) {
    height: 16em;
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 150px;
          padding-left: 0.3em;
        }
      }
    }
    .social-icons-block {
      padding-left: 0px;
      padding-top: 88px;
      margin-left: -22px;
      .social-icons-outer {
        .top-row img.backdrop-icon-img {
          height: 52px;
        }
        .top-row img.drupal-icon-img {
          height: 54px;
        }
        .bottom-row img.twitter-icon-image {
          height: 64px;
          padding-top: 0px;
        }
        .bottom-row img.github-icon-image {
          height: 55px;
          margin-bottom: 4px;
        }
      }
    }
  }
  @media (min-width: 1877px) {
    height: 18.5em;
    .block-system-header {
      .header-identity-wrapper {
        .header-site-name-link {
          font-size: 176px;
          padding-left: 0.8em;
        }
      }
    }
    .social-icons-block {
      padding-left: 0px;
      padding-top: 104px;
      margin-left: 19px;
      .social-icons-outer {
        .top-row img.backdrop-icon-img {
          height: 82px;
        }
        .top-row img.drupal-icon-img {
          height: 84px;
        }
        .bottom-row img.twitter-icon-image {
          height: 94px;
          padding-top: 0px;
        }
        .bottom-row img.github-icon-image {
          height: 85px;
          margin-bottom: 4px;
        }
      }
    }
  }
}
