.l-header {
  background-color: #031630;
  opacity: 0.8;
  .header-identity-wrapper {
    background-color: #031630;
    .header-site-name-link {
      font-family: Osaka;
      font-size: 11rem;
      margin-top: 1.5%;
      background-color: #031630;
    }
  }
  .social-icons-block {
    float: left;
    .social-icons-outer {
      a {
        img {
          height: 66px;
        }
      }
    }
  }

  /* 34em comes into play at 543px */
  @media (min-width: 25em) {

  }

  /* 34em comes into play at 767px */
  @media (min-width: 34em) {

  }

  /* 48em comes into play at 991px */
  @media (min-width: 48em) {

  }

  @media (min-width: 62em) {

  }
}
