/** body class for the home page **/
.view-name-backdrops {
  @media (min-width:320px) {
    .l-content {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: -2.7em;
      .views-row {
        background: #fbfcfa;
        padding-left: 11px;
        padding-right: 5px;
        .view-mode-teaser h2 {
          padding-top: 8px;
        }
      }
      .serundeputy-tweets-outside {
        margin-top: 2em;
        background-color: #afb4b0;
        .serundeputy-tweet {
          margin: 3px;
          padding: 7px;
          display: block;
          font-size: 13px;
          background-color: #232020;
          color: #ccc;
        }
        .at-serundeputy {
          position: relative;
          left: 53%;
        }
      }
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
    .serundeputy-tweets-outside {
      .row-fluid {
        display: flex;
        .serundeputy-tweets-row {

        }
        .at-serundeputy {
          left: 74%;
        }
      }
    }
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1366px) {
  }
  @media (min-width: 1877px) {
  }
}
