/** body class for the home page **/
.view-name-backdrops {
  @media (min-width:320px) {
    .l-content {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: -2.7em;
      .views-row {
        background: #fbfcfa;
        padding-left: 16px;
        padding-right: 16px;
        .view-mode-teaser h2 {
          padding-top: 8px;
        }
      }
      .serundeputy-tweets-outside {
        margin-top: 2em;
        background-color: #afb4b0;
        .serundeputy-tweet {
          margin: 3px;
          padding: 7px;
          display: block;
          font-size: 13px;
          background-color: #232020;
          color: #ccc;
        }
        .at-serundeputy {
          position: relative;
          float: right;
        }
      }
    }
  }
  @media (min-width:375px) {
  }
  @media (min-width:667px) {
  }
  @media (min-width:768px) {
    .serundeputy-tweets-outside {
      .row-fluid {
        display: flex;
        .serundeputy-tweets-row {

        }
        .at-serundeputy {
          left: 74%;
        }
      }
    }
  }
  @media (min-width:1024px) {
  }
  @media (min-width: 1300px) {
    .l-content {
      margin-top: 0.3em;
      .view-backdrops {
        margin-left: 3.6em;
        .views-row {
          width: 47%;
          display: inline-block;
          min-height: 657px;
          vertical-align: top;
          margin-bottom: 1em;
          .view-mode-teaser {
            margin-top: 0.8rem;
          }
        }
        .views-row-2,
        .views-row-4 {
          margin-left: 1em;
        }
      }
      .serundeputy-tweets-outside {
        .serundeputy-tweet {
          font-size: 13.8px;
        }
      }
    }
  }
  @media (min-width: 1800px) {
    .l-content {
      .view-backdrops {
        .views-row {
          min-height: 516px;
        }
      }
      .serundeputy-tweets-outside {
        .serundeputy-tweet {
          font-size: 15px;
        }
      }
    }
  }
}
