/** body class for the home page **/
.view-name-backdrops {

  /** Tweets block **/
  .serundeputy-tweets-outside {
    background-color: #ccc;
    margin-left: 16px;
    margin-right: 16px;
    min-height: 230px;
    .backdropintheevening {
      padding-left: 22px;
    }
    .at-serundeputy {
      float: right;
      padding-right: 22px;
    }
    .serundeputy-tweets-container {
      margin: 12px;
      color: #fbfcfa;
      font-size: 0.66rem;
      .serundeputy-tweets-row {
        display: flex;
        min-height: 144px;
        background-color: #262626;
        .col-md-3 {
          max-width: 25%;
          max-height: 133px;
          padding: 13px;
          margin-top: 6px;
          border-right: #ccc 1px solid;
        }
        .col-md-3:last-of-type {
          border: none;
        }
      }
    }
  }
}
