.serundeputy-primary-navigation {
  .menu-dropdown {
    width: 100%;
    display: table;
    text-align: center;
    li {
      margin-left: 2rem;
      margin-right: 2rem;
      background-color: #fbfcfa;
      // font-size: 0.7rem;
      display: inline-block;
      float: none;
        a {
          font-size: 0.7rem;
          color: #262626;
        }
    }
  }
}
