.serundeputy-primary-navigation {
  @media (min-width:320px) {
    padding-left: 100px;
    clear: both;
    .menu-toggle-button-icon,
    .menu-toggle-button-icon:before,
    .menu-toggle-button-icon:after {
      background: #fbfcfa;
    }
    .menu-toggle-button-text {
      color: #fbfcfa;
    }
    .menu-dropdown {
      width: 100%;
      display: table;
      ul {
        background: #fbfcfa;
        li a {
          padding-left: 0em;
        }
      }
      li {
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: #fbfcfa;
        display: inline-block;
        float: none;
          a {
            font-size: 0.7em;
            color: #262626;
            span.sub-arrow {
              background-color: #fbfcfa;
              border-top: 1px solid #777;
              border-left: none;
              border-right: none;
              border-bottom: none;
              height: 3rem;
            }
          }
      }
      li:hover {
        background-color: #a893c4;
        a:active {
          background: #a893c4;
        }
      }
      li.has-children > a:hover, .js .menu-dropdown > li.has-children > a:focus {
        background-color: #a893c4;
      }
      ul a:hover,
      .menu-dropdown ul a:focus,
      .menu-dropdown ul a:active,
      .menu-dropdown ul a.highlighted {
        background: #a893c4;
      }
    }
  }
  @media (min-width:375px) {
    padding-left: 122px;
  }
  @media (min-width:667px) {
    padding-left: 17px;
    padding-top: 18px;
    .menu-dropdown {
      li {
        margin-left: 1.2rem;
        margin-right: 0rem;
      }
    }
  }
  @media (min-width:768px) {
    padding-left: 0px;
    padding-top: 46px;
    .menu-dropdown {
      li {
        margin-left: 1.2rem;
        margin-right: 0rem;
      }
    }
  }
  @media (min-width: 1024px) {
    padding-top: 50px;
    .menu-dropdown {
      li {
        margin-left: 2.7rem;
      }
    }
  }
  @media (min-width: 1366px) {
    padding-top: 3.7em;
    .menu-dropdown {
      li {
        margin-left: 5rem;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
  @media (min-width: 1877px) {
    padding-top: 4em;
    padding-left: 14em;
  }
  // .menu-dropdown {
  //   width: 100%;
  //   display: table;
  //   text-align: center;
  //   padding-top: 3.25em;
  //   li {
  //     margin-left: 2rem;
  //     margin-right: 2rem;
  //     background-color: #fbfcfa;
  //     display: inline-block;
  //     float: none;
  //   }
  // }
}
