# Ignore this file so it can be changed 


# Ignore configuration files that may contain sensitive information.
settings.php
sites/*/settings*.php

# Ignore paths that contain user-generated content.
files
private
sites/*/files
sites/*/private

# Ignore sass stuff.
.sass-cache
stylesheets

# Ignore PHPStorm stuff.
.idea
*.idea/*


# Ignoring these modules while they are less than stable.
modules/contrib/codefilter/
modules/contrib/date/
modules/contrib/formblock/
modules/contrib/pathauto/
modules/contrib/token/
modules/contrib/webform/
modules/contrib/nice_menus/
modules/contrib/superfish/
