# Ignore this file so it can be changed


# Ignore configuration files that may contain sensitive information.
settings.php
sites/*/settings*.php

# Ignore active config
config/active

# Ignore paths that contain user-generated content.
www/files
www/private
www/sites/*/files
www/sites/*/private

# Ignore node_modules and vendor
node_modules
vendor

# Ignore sass stuff.
.sass-cache

# Ignore stuff that shouldn't
*.sql
*.gz
*.DS_Store

# Ignore PHPStorm stuff.
.idea
*.idea/*

# Ignoring these modules while they are less than stable.
modules/contrib/codefilter/
