/* line 2, ../sass/maintenance-page.scss */
body.maintenance-page {
  background-color: #fff;
  color: #000;
}

/* line 6, ../sass/maintenance-page.scss */
.maintenance-page #page-wrapper {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  min-height: 0;
  width: 800px;
  border: 1px solid #ddd;
  margin-top: 40px;
}

/* line 16, ../sass/maintenance-page.scss */
.maintenance-page #page {
  margin: 20px 40px 40px;
}

/* line 19, ../sass/maintenance-page.scss */
.maintenance-page #main-wrapper {
  min-height: inherit;
}

/* line 22, ../sass/maintenance-page.scss */
.maintenance-page #header,
.maintenance-page #messages,
.maintenance-page #main {
  width: auto;
}

/* line 27, ../sass/maintenance-page.scss */
.maintenance-page #main {
  margin: 0;
}

/* line 30, ../sass/maintenance-page.scss */
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
}

/* line 34, ../sass/maintenance-page.scss */
.maintenance-page #name-and-slogan {
  margin-bottom: 50px;
  margin-left: 0;
  padding-top: 20px;
  font-size: 90%;
}

/* line 40, ../sass/maintenance-page.scss */
.maintenance-page #name-and-slogan,
.maintenance-page #name-and-slogan a,
.maintenance-page #name-and-slogan a:hover,
.maintenance-page #name-and-slogan a:hover {
  color: #777;
}

/* line 46, ../sass/maintenance-page.scss */
.maintenance-page .site-name {
  font-size: 1.821em;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 51, ../sass/maintenance-page.scss */
.maintenance-page h1#page-title {
  line-height: 1em;
  margin-top: 0;
}

/* line 55, ../sass/maintenance-page.scss */
.maintenance-page #messages {
  padding: 0;
  margin-top: 30px;
}

/* line 59, ../sass/maintenance-page.scss */
.maintenance-page #messages div.messages {
  margin: 0;
}
