@import 'partials/home';
@import 'partials/menu';
@import 'partials/header';
@import 'partials/footer';

body {
  // background-color: #afb4b0;
  background-color: #232020;
  font-family: Osaka;
  a {
    color: #3c82a3;
  }
}
