@import 'partials/home';
@import 'partials/menu';
@import 'partials/header';
@import 'partials/footer';

body {
  background-color: #afb4b0;
  font-family: Osaka;
  .l-content {
    margin-left: 27px;
    margin-right: 27px;
  }
}
