/* ---------- Color Module Styles ----------- */
/* line 4, ../sass/colors.scss */
body {
  color: #3b3b3b;
}

/* line 7, ../sass/colors.scss */
.comment .comment-arrow {
  border-color: #ffffff;
}

/* line 10, ../sass/colors.scss */
.l-container,
.l-header ul.menu li a.active,
.l-header ul.menu li.active-trail a {
  background: #ffffff;
}

/* line 15, ../sass/colors.scss */
.tabs ul.primary li a.active {
  background-color: #ffffff;
}

/* line 18, ../sass/colors.scss */
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

/* line 22, ../sass/colors.scss */
.l-header {
  color: #fffeff;
  background-color: #0f0f0f;
  /*background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);*/
}

/* line 32, ../sass/colors.scss */
a {
  color: #0071b3;
}

/* line 35, ../sass/colors.scss */
a:hover,
a:focus {
  color: #018fe2;
}

/* line 39, ../sass/colors.scss */
a:active {
  color: #23aeff;
}

/* line 42, ../sass/colors.scss */
.l-sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

/* line 46, ../sass/colors.scss */
.l-footer-wrapper,
.l-footer {
  background: #292929;
}

/* line 50, ../sass/colors.scss */
.l-header a,
.l-footer-wrapper,
.l-footer {
  color: #fffeff;
}
